a:hover {
  text-decoration: none;
}

#resume-menu::after {
  content: "Resume";
  font-family: Dejavu;
  font-weight: 300;
  margin-left: 8px;
}

#writing-menu::after {
  content: "Writing";
  font-family: Dejavu;
  font-weight: 300;
  margin-left: 10px;
}

#sharing-menu::after {
  content: "Sharing";
  font-family: Dejavu;
  font-weight: 300;
  margin-left: 7px;
}

#contact-menu::after {
  content: "Contact";
  font-family: Dejavu;
  font-weight: 300;
  margin-left: 7px;
}

.sidebar-container,
aside {
  position: fixed;
  width: 190px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1e1e1e;
  color: #fff;
}

.list-sidebar {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.list-sidebar li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.list-sidebar li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.list-sidebar li .fa {
  margin-right: 10px;
}

.list-sidebar li a:active,
.list-sidebar li a:hover,
.list-sidebar li a:focus {
  text-decoration: none;
  outline: none;
}

.list-sidebar > li::before {
  background-color: rgb(70, 181, 255);
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
  z-index: -1;
}

.list-sidebar > li:hover::before {
  background-color: rgb(70, 181, 255);
  width: 100%;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.list-sidebar .header {
  font-size: 13px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.list-sidebar .header::before {
  background-color: transparent;
}