:root {
  --base-color:#46b5ff;
}

@font-face {
	font-family: Dejavu;
	src: url(../Resources/Fonts/DejaVuSansMono.woff) format('woff');
}

@keyframes fill-progress-bar {
	from {
		width: 0;
		background-color: var(--base-color);
	}
}

@-webkit-keyframes fill-progress-bar {
	from {
		width: 0;
		background-color: var(--base-color);
	}
}

#header {
  grid-area: head;
}
#sidebar {
  grid-area: side;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: foot;
}

html {
  scroll-behavior: smooth;
  font-size: 13px;
}

body.row {
  color: #fff;
  font-family: Dejavu;
  background: url(../Resources/Images/background.png);
  background-repeat: repeat;
	display: -ms-grid;
	display: grid;
	margin: 0;
	-ms-grid-rows: 8vh 1fr 8.5vw;
  -ms-grid-columns: 15.5vw 83.5vw;
  grid-template-rows: 8vh 1fr 8.5vw;
	grid-template-columns: 15.5vw 83.5vw;
	grid-template-areas:  "side head" 
						            "side main" 
                        "side foot";        
}

/* MAIN ============================================ */
/* =================HEADER===================== */

header {
	background-color: #252525;
	height: 8vh;
	width: 100%;
	font-family: Dejavu;
	z-index: 1;
}

/* =================SIDEBAR==================== */
aside {
  position: fixed;
	z-index: 1;
	width: 16vw;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #252525;
}

.banner img {
	max-width: 95%;
	width: 100%;
	height: auto;
	margin: 8px 5px;
}

#sidebar span {
  font-family: Dejavu;
  font-weight: 300;
  margin-left: 1vw;
}

#sidebar li {
  text-align: center;
  position: relative;
  line-height: 30px; /* 3 vw*/
}

.list-sidebar .header {
	background-color: #1e1e1e;
	padding: 10px;
}

.list-sidebar li a {
	padding: 10px;
	display: block;
	color: #fff;
}

.list-sidebar>li::before {
	background-color: var(--base-color);
	position: absolute;
	content: "";
	height: 100%;
	left: 0;
	top: 0;
	width: 3px;
}

.list-sidebar>li:hover::before {
	background-color: var(--base-color);
	width: 100%;
	-webkit-transition: width 0.3s ease-in;
	-o-transition: width 0.3s ease-in;
	transition: width 0.3s ease-in;
	z-index: -1;
}

.list-sidebar .header:hover::before,
.list-sidebar .header::before {
	background-color: transparent;
}

/* =================RIGHT SIDE================= */

#my-name {
	padding-top: 1em;
	text-align: center;
	font-size: 5em;
	font-weight: 900;
	text-shadow: -3px 3px 0 #3a3939;
}

.resume-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.content {
	margin: 30px 10px;
	padding: 0 20px;
	text-align: justify;
}

.content-header::after {
	display: block;
	border-radius: 5px;
	content: "";
	height: .05em;
	width: 25vw;
	margin-top: 5px;
	background-color: #867c69;
}

.content-header {
	color: #368a2b;
	font-size: 25px;
	margin-bottom: 15px;
}

/* left of resume !!!!!!!!!!!!!! */
/* profile */

.blockquote {
	font-style: italic;
	font-size: 13px;
	border-radius: 15px;
	background-color: #62605e;
	padding: 10px;
}

/* education */

.school {
	font-weight: 900;
	font-size: 15px;
}

.start-finish {
	font-style: italic;
	font-size: 12px;
}

.study-major {
	margin-top: 10px;
	margin-left: 10px;
}

.study-major>table {
	text-align: center;
	width: 100%;
	background-image: linear-gradient(297deg, #60043b, #860430, #ab0623, #d10a0f);
	background-image: -o-linear-gradient(153deg, #60043b, #860430, #ab0623, #d10a0f);
	margin-top: 20px;
	border-radius: 15px;
}

.study-major th {
	border-bottom: 2px double #867c69;
	font-weight: 900;
}

.study-major tr {
	border-bottom: 1px solid #867c69;
}

.study-major tfoot>tr {
	border-bottom: transparent;
}

.study-major td,
.study-major th {
	padding: .5rem;
}

/* qualification */

#qualification-section ul>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#qualification-section ul>li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f004";
	font-weight: 900;
	font-size: inherit;
	color: #e92949;
}

#qualification-section ul>li>span {
	padding: 5px;
	border-radius: 15px;
	margin: 10px;
}

#qualification-section ul>li>div,
#qualification-section ul>li::before,
#qualification-section ul>li>span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
	align-self: center;
}

#Q1 {background-color: #000ba5;}
#Q2 {background-color: #047700;}
#Q3 {background-color: #b19600;}
#Q4 {background-color: #9e009e;}
#Q5 {background-color: #a80000;}

/* certification */

/* right of resume !!!!!!!!!!!!!! */

/* skill */

#skill-section .progress {
	margin-bottom: 15px;
	height: 5px;
}

#skill-section .progress-bar {
	background: -o-linear-gradient(left, rgba(70, 181, 255, 1) 0%, rgba(123, 38, 233, 1) 50%, rgba(255, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, right top, from(rgba(70, 181, 255, 1)), color-stop(50%, rgba(123, 38, 233, 1)), color-stop(100%, rgba(255, 0, 0, 1)), to(rgba(0, 212, 255, 1)));
	background: linear-gradient(90deg, rgba(70, 181, 255, 1) 0%, rgba(123, 38, 233, 1) 50%, rgba(255, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
	-webkit-animation: fill-progress-bar .8s ease-in-out;
	animation: fill-progress-bar .8s ease-in-out;
}

/* language */

#language-section li {
	margin-bottom: 20px;
}

#language-section ul>li>i {
	color: #d6ba33;
}

/* =================FOOTER===================== */

#footer,
#footer>.contact,
.copyright {
  background-color: #252525;
}

#footer>.contact {
  padding-left: 100px;
}

#footer a {
  color: inherit;
  display: block;
  padding-top: 10px;
}

#footer a:hover {
	color: var(--base-color);
	text-decoration: none;
}

.copyright {
  text-align: center;
}

/* ====================== */

@media (max-width: 768px) {
  body.row {
    font-size: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 1fr 9%;
    grid-template-areas:"side" 
						            "main" 
                        "foot";
  }
    /* sidebar */
  #sidebar {
    position: relative;
  }

  aside {
    width: 100%;
    background: transparent;
  }

  .banner img {
    width: 45vw;
    height: auto;
    margin: 2vh auto;
    display: block;
  }

  .hide {
    visibility: hidden;
    display: none;
  }

  #sidebar li {
    border-bottom: 1px solid #424242;
    background-color: #252525;
  }

  /* right-side */

  .resume-body {
    display: grid;
  }

  main.container-fluid {
    padding: 0px;
  }

  #my-name {
    padding-top: 0;
    font-size: 4em;
    margin: 2vw;
  }

  .content-header {
    color: #368a2b;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
  }

  .content-header::after {
    display: block;
    border-radius: 5px;
    content: "";
    height: .05em;
    width: 25vh;
    margin: 5px auto;
    background-color: #867c69;
  }

  #language-section,
  #certification-section,
  #interest-section,
  #activity-section {
    text-align: center;
  }

  /* footer */
  #footer>.contact {
    padding-left: 0px;
  }

  #footer .col {
    padding: 5px;
  }
}