/* BASE ============================================================ */
@font-face {
	font-family: Dejavu;
	src: url(../Resources/Fonts/DejaVuSansMono.woff);
}
@font-face {
	font-family: Dejavu;
	src: url(../Resources/Fonts/DejaVuSansMono-Bold.woff);
	font-weight: bold;
}
@font-face {
	font-family: Dejavu;
	src: url(../Resources/Fonts/DejaVuSansMono-Oblique.woff);
	font-style: oblique;
}
@font-face {
	font-family: Dejavu;
	src: url(../Resources/Fonts/DejaVuSansMono-BoldOblique.woff);
	font-style: oblique;
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
	font-family: Dejavu;
}

body {
  background-color: #242121 !important;
	font-size: 13px !important;
	color: white !important;
	font-family: Dejavu;
}

html, body {
	margin: 0;
   }

/* MAIN ============================================ */
/* =================HEADER===================== */
#header {
	font-family: Dejavu;
}

/* =================SIDEBAR==================== */
#sidebar {
	/* position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky; */
	position: fixed;
	font-family: Dejavu;
	top: 0;
}

/* =================RIGHT SIDE================= */
.right-side{
	position: relative;
	margin-left: 200px !important;
	z-index: -1;
	font-family: Dejavu;
}

.right-side>.row h1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.resume-content {
	display: flex;
}

.left-of-resume {
	width: 60%;
	height: 100%;
}

.right-of-resume {
	width: 40%;
	height: 100%;
}

.content {
	margin: 50px 10px 20px 0px;
	padding: 0 10px;
	text-align: justify;
}

.content::before {
	display: block;
	border-radius: 4px;
	content: "";
	height: 3px;
	width: 100px;
	background-color: rgb(70, 181, 255);
	margin: 20px 0 8px 0;
}

.quote {
	font-style: italic;
}

.study-major table {
	text-align: center;
}
/* =================FOOTER===================== */
#footer {
	font-family: Dejavu;
}
